<div class="container-fluid"
    style="background-color: #fff;height: 100%;width:100%;padding: 0;overflow-y: hidden;overflow-x: hidden;">
    <app-header></app-header>
    <br>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

                <fa-icon [icon]="['fas', 'home']" size="md" [fixedWidth]="true" style="color:#004A7F;cursor: pointer;">
                </fa-icon>

            <li class="breadcrumb-item" aria-current="page" style="font-weight: 500;color: black;">
                Production Plan </li>


            <li class="navbar-nav ml-auto" style="margin-bottom:-1rem">
                <div class="row">
                    <div style=" border-radius: .25rem;margin-right:8px;">
                        <fa-icon [icon]="['fas', 'cog']" size="lg" [fixedWidth]="true" style="color:#ED7D31;">
                        </fa-icon>&nbsp;
                    </div>
                </div>
            </li>
        </ol>
    </nav>
    <div style="
width: calc(100% - 20px);box-shadow: 1px 2px 3px 1px #aaaaaa;margin-left:10px;">
    <button class="button" id="default" (click)="showGroups()">Product Order View</button>
    <button class="button" id="campaign" (click)="showCampaign('Campaign')">Campaign View</button>
    <button class="button" id="detailed" (click)="showGroups('Campaign')">Detailed View</button>

    <input type="button" id='order' (click)="seeOrder('this')" value="Expand" style="float: right;" class="button2">

    <button class="button2" (click)="zoomOut()" style="float: right;margin-right: 15px;">ZoomOut</button>
    <button class="button2" (click)="zoomIn()" style="float: right;">ZoomIn</button>

    <button class="button2" (click)="redo()" style="float: right;margin-right: 15px;">Redo</button>
    <button class="button2" (click)="undo()" style="float: right;">Undo</button>
    
    <div #gantt_here class='gantt-chart'></div>
    </div>
    <app-footer></app-footer>
</div>